* {
  border-style: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
}

.navInput {
  background-color: transparent;
  font-size: 1.25rem;
  width: 100%;
  font-weight: 700;
  outline: none;
  color: inherit;
}

.sideMenu {
  background-color: #9381FF;
  width: 22.5625rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-end;
}
.sideMenu__titleWrapper {
  display: flex;
  gap: 1.875rem;
  justify-content: center;
  padding-bottom: 3.8125rem;
  padding-left: 4.1875rem;
  padding-right: 2.75rem;
  padding-top: 2.6875rem;
}
.sideMenu__titleWrapper--title {
  color: #F8F7FF;
  font-size: 2.25rem;
  font-weight: 700;
}
.sideMenu__category {
  align-items: center;
  background-color: #9381FF;
  border-radius: 16px 0px 0px 16px;
  color: #F8F7FF;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
  justify-content: flex-start;
  padding: 14.5px 44px;
  position: relative;
  width: 18.75rem;
}
.sideMenu__category--active {
  background-color: #F8F7FF;
  color: #9381FF;
}
.sideMenu__category--active::before, .sideMenu__category--active::after {
  position: absolute;
  content: "";
  background-image: url(../Icons/roundedCorner.svg);
  width: 16px;
  height: 16px;
  right: 0;
}
.sideMenu__category--active::before {
  top: -16px;
}
.sideMenu__category--active::after {
  bottom: -16px;
  transform: rotate(-90deg);
  z-index: 1;
}
.sideMenu__category--active .sideMenu__category__counter {
  background-color: #9381FF;
  color: #F8F7FF;
}
.sideMenu__category__counter {
  background-color: #F8F7FF;
  border-radius: 4px;
  color: #9381FF;
  font-size: 12px;
  padding: 2px 10px;
}

.addButton {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 7.12rem;
  flex-grow: 1;
  background-color: #F8F7FF;
}
.container__titleWrapper {
  display: flex;
  gap: 16px;
}
.container__titleWrapper--title {
  color: #9381FF;
  font-size: 2.625rem;
}
.container__cardList {
  display: flex;
  flex-direction: row;
  max-height: 600px;
  gap: 12px;
  flex-wrap: wrap;
  width: 924px;
  justify-content: flex-start;
}
.container__cardList--card {
  align-items: center;
  background-color: #9381FF;
  border-radius: 12px;
  color: #F8F7FF;
  display: flex;
  gap: 8px;
  max-width: 300px;
  padding: 16px;
}

.checkbox {
  display: none;
}
.checkbox__text {
  background-color: transparent;
  flex-grow: 1;
  border: 0;
  outline: 0;
  color: inherit;
}
.checkbox__text:focus {
  background-color: transparent;
}
.checkbox:checked + .container__cardList--card {
  background-color: rgba(161, 161, 161, 0.67);
  color: #50514F;
  text-decoration: line-through;
}
.checkbox:checked + .container__cardList--card .checkField {
  background-color: #A1A1A1;
}
.checkbox:checked + .container__cardList--card .image {
  display: block;
}

.checkField {
  align-items: center;
  background-color: #F8F7FF;
  border-radius: 4px;
  display: flex;
  height: 16px;
  justify-content: center;
  width: 16px;
}

.image {
  display: none;
}

.deleteButton {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
