@import './_variables.scss';

* {
  border-style: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
 display: flex;
}

.navInput {
  background-color: transparent;
  font-size: 1.25rem;
  width: 100%;
  font-weight: 700;
  outline: none;
  color: inherit;
}

.sideMenu {
  background-color: $purple;
  width: 22.5625rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-end;

  &__titleWrapper {
    display: flex;
    gap: 1.875rem;
    justify-content: center;
    padding-bottom: 3.8125rem;
    padding-left: 4.1875rem;
    padding-right: 2.75rem;
    padding-top: 2.6875rem;

    &--title {
      color: $white;
      font-size: 2.25rem;
      font-weight: 700;
    }
  }

  &__category {
    align-items: center;
    background-color: $purple;
    border-radius: 16px 0px 0px 16px;
    color: $white;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    gap: 10px;
    justify-content: flex-start;
    padding: 14.5px 44px;
    position: relative;
    width: 18.75rem;
  
    &--active {
      background-color: $white;
      color: $purple;

      &::before, &::after {
        position: absolute;
        content: '';
        background-image: url(../Icons/roundedCorner.svg);
        width: 16px;
        height: 16px;
        right: 0;
      }

      &::before {
        top: -16px;
      }

      &::after {
        bottom: -16px;
        transform: rotate(-90deg);
        z-index: 1;
      }
      
      .sideMenu__category__counter {
        background-color: $purple;
        color: $white;
      }
      
    }
  
    &__counter {
      background-color: $white;
      border-radius: 4px;
      color: $purple;
      font-size: 12px;
      padding: 2px 10px;
    }
  }
}

.addButton {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 7.12rem;
  flex-grow: 1;
  background-color: $white;

  &__titleWrapper {
    display: flex;
    gap: 16px;
  
    &--title {
      color: $purple;
      font-size: 2.625rem;
    }
  }

  &__cardList {
    display: flex;
    flex-direction: row;
    max-height: 600px;
    gap: 12px;
    flex-wrap: wrap;
    width: 924px;
    justify-content: flex-start;
  
    &--card {
      align-items: center;
      background-color: $purple;
      border-radius: 12px;
      color: $white;
      display: flex;
      gap: 8px;
      max-width: 300px;
      padding: 16px;
    }
  }
}


.checkbox {
  display: none;

  &__text {
    background-color: transparent;
    flex-grow: 1;
    border: 0;
    outline: 0;
    color: inherit;

    &:focus {
      background-color: transparent;
    }
  }

  &:checked + .container__cardList--card {
    background-color: $grey-300;
    color: $grey-400;
    text-decoration: line-through;
  }
  
  &:checked + .container__cardList--card .checkField {
    background-color: $grey-200;
  }
  
  &:checked + .container__cardList--card .image {
    display: block;
  }
}

.checkField {
  align-items: center;
  background-color: $white;
  border-radius: 4px;
  display: flex;
  height: 16px;
  justify-content: center;
  width: 16px;
}

.image {
  display: none;
}

.deleteButton {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

